/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: turquoise;
    color: black;
}

/*  STRUCTURE */
header{
    height: 100px;
    background-color: white;
}
main{
    max-height: 700px;
    background-color: turquoise;
    color: black;
}
footer{
    height: 80px;
    background-color: white;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 80px;
}

/* GRID */
#grid{
    width: 500px;
    height: 500px;
    margin: 50px auto;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#grid .cell{
    border: black 1px solid;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
#grid .cell.neutral{
    background-color: cyan;
}
#grid .cell.bomb{
    background-color: red;
}

#grid.easy .cell{
    height: calc(100% / 10);
    width: calc(100% / 10);
}
#grid.normal .cell{
    height: calc(100% / 9);
    width: calc(100% / 9);
}
#grid.hard .cell{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

/* SPECIFIC STUFF*/
#logo, #title, p{
    height: 100%;
    margin-left: 30px;
}

#btn-play{
    padding: 10px 40px;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid rgb(46, 98, 255);
    background-color: rgb(46, 98, 255);
    color: white;

    cursor: pointer;
}

#click{
    text-align: center;
    margin: 400px ;
}
#result{
    margin-top: 50px;
    text-align: center;
}

footer p{
    font-size: 20px;
}

